<!-- <div class="cont"> -->
        <!-- <h1 style="color:green">POLLING ROOM</h1>
        <br>
        <br>
        <p></p>
        <form action="/html/codes/html_form_handler.cfm" method="get">
            <h4><b>Chairman Nominee Members</b></h4>
            <input type="radio" name="preferred_color" value="Red" />Mr. Zohaib Jawaid<br />
            <input type="radio" name="preferred_color" value="Blue" />Mr. Usama Atiq<br />
            <input type="radio" name="preferred_color" value="Green" />Mr. Shoaib<br />
              <br> 
            <h4><b>VOICE-CHAIRMAN NOMINEE MEMBERS </b></h4>
            <input type="radio" name="preferred_item" value="Car" /> Mr. Yousuf Khan<br />
            <input type="radio" name="preferred_item" value="House" />Mr. Murtaza<br />
            <input type="radio" name="preferred_item" value="Coffee Machine" />Mr. Shahbaz<br />
              <br>
            <h4><b>PROVINCE NOMINEE MEMBERS</b></h4>
            <input type="radio" name="preferred_item1" value="Car1" />Mr. Shahbaz<br />
            <input type="radio" name="preferred_item1" value="House1" />Mr. Mumtaz<br />
            <input type="radio" name="preferred_item1" value="Coffee1 Machine" />Mr. Farhan<br />
            <br>
            <input type="submit" value="Submit">
            </form> -->
<!-- </div> -->  

<div class="cont">
        <h1 style="color:green">POLLING ROOM</h1>
        <div class="container py-2">
            <div class="row">
             <br>
             <br>               
            </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
 <div class="col-md-2 pull-left" style="background-color:#F8F8FF; margin-left:-110px; margin-top:-150px; color:#228B22">
                                <br>
                                <br>
                                <ul id="Side_Menu" class="nav nav-pills nav-stacked">
                                    <li class="active"><a href="dashboard.php"><span class="glyphicon glyphicon-th"></span>Chairman</a></li><br><br><br>
                                    <li><a href=""><span class="glyphicon glyphicon-list-alt"></span>ViceChairman</a></li><br><br><br>
                                    <li><a href=""><span class="glyphicon glyphicon-tags"></span>Chairman Nominees</a></li><br><br><br>
                                    <li><a href=""><span class="glyphicon glyphicon-user"></span>Submit</a></li>
                               
                                    
                                </ul>
                            </div>
                           
            <div class="col-md-3 col-offset-1" style="margin-left:100px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-arrow-right"></span> CHAIRMAN NOMINEES <a href="http://www.jquery2dotnet.com" target="_blank"><span
                                class="glyphicon glyphicon-new-window"></span></a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios">
                                        Zohaib Jawaid
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios">
                                        Syed Wajahat Hussain
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios">
                                        Muhammad Shoaib
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios">
                                        Usama Atiq
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios">
                                        Pura Group
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                      <button type="button" class="btn btn-primary btn-block btn-sm">
                        Vote</button>
                      <a href="#" class="small" style="color:white">START VOTING</a></div>
                </div>
            </div>
            <!-- Second Container -->
            <br>
            <div class="col-md-3" style="margin-left:20px; margin-top:35px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-hand-right"></span>VOICE-CHAIRMAN</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        ZOBI
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        WAJJI
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        SHOBI
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        CHOTTU
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        ADMINISTRATION
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            Vote</button>
                        <a href="#" class="small" style="color:white">START VOTING</a></div>
                </div>
            </div>

            <div class="col-md-3" style="margin-left:20px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-hand-right"></span>PROVINCE NOMINEES</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            ZOBI
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            WAJJI
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            SHOBI
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            CHOTTU
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            ADMINISTRATION
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer text-center">
                            <button type="button" class="btn btn-primary btn-block btn-sm">
                                Vote</button>
                            <a href="#" class="small" style="color:white">START VOTING</a></div>
                    </div>
                </div>
            
                <div class="panel panel-primary">
                    
                    
                    <div class="panel-footer">
                        
                    </div>
                </div>
            </div>
        </div>
      
      
      
      



      