<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active carousel-item-left" style="background-image: url('http://2.bp.blogspot.com/-TS8R4cxG094/UhzL3lECxbI/AAAAAAAAKr4/pSslRMg9jRY/s1600/PEC+27-8.bmp')">
          <div class="carousel-caption d-none d-md-block">
            <h3>
            </h3>
            <p></p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item carousel-item-next carousel-item-left" style="background-image: url('http://khi.szabist.edu.pk/images/pec-team-visit7.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3></h3>
            <p> </p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://khi.szabist.edu.pk/images/pec-team-visit6.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3></h3>
            <p></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  
<div>

    <div>
        
        
          <h1 class="my-4" style="text-align: center;">
            <span style="color:green;">Our Voting Services</span>
          </h1>
        
        
        
          <!-- Marketing messaging and featurettes
              ================================================== -->
          <!-- Wrap the rest of the page in another container to center all the content. -->
        
          <div class="container marketing">
        
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="../assets/ballotbox.png"
                  alt="Generic placeholder image" width="140" height="140">
                <h2>Online Elections</h2>
                <p>PEC-Voting Portal sends an email to each voter with a secure voting link(or you can can send send email yourself) and only 
                  pakistan Engineer Council - PEC Active engineers authroized engineers can vote.
                </p>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="../assets/statics.png" alt="Generic placeholder image"
                  width="140" height="140">
                <h2>Online Polls</h2>
                <p>PEC Announced Elections on yearly basis according to the destinations so, Authorized Engineers can vote to the nominee.</p>
               </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="../assets/ballot.jpg" alt="Generic placeholder image"
                  width="140" height="140">
                <h2>Count Ranked Ballot</h2>
                <p>Counting the number of votes counted the automatically with the fairness and at the end of the elections Leading Nominees will be announce. </p>
               </div>
              <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        
        
          </div>
          <!-- /.container -->
        
        
        
          <!-- Cards Crauesol -->
        <!-- 
          <div id="ThumbnailCarousel" class="carousel slide col-xs-12" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                      <div class="col-md-3 col-sm-6"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-md-3 col-sm-6"><a href="#x" class="thumbnail"><img src="http://placehold.it/500x500" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                      <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/500x500" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                      <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/500x500" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                      <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                      </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#ThumbnailCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#ThumbnailCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          -->
        
        <!-- End of card Crauesol -->
        
        
        
        <!-- Services section -->
        <!-- 
        <section id="services" class="bg-success text-white mt-1">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 text-center">
                      <h2 class="mt-4">Less clicks and  simple caste vote feature in our application. </h2>
                      <p class="pt-2 pb-4">
                          Referenorem ipsum is a a document or visual presentation.generator.
                      </p>
                  </div>
              </div>
              <div class="row text-center pt-4">
                  <div class="col-md-4 col-sm-6 mb-5">
                      <i class="fa fa-code fa-5x mb-4"></i>
                      <h3 class="pb-2">Very Smart</h3>
                      <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry.</p>
                  </div>
                  <div class="col-md-4 col-sm-6 mb-5">
                      <i class="fa fa-desktop fa-5x mb-4"></i>
                      <h3 class="pb-2">Responsive</h3>
                      <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry.</p>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-5">
                      <i class="fa fa-circle fa-5x mb-4"></i>
                      <h3 class="pb-2">Crisp & clear</h3>
                      <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry.</p>
                  </div>
              </div>
        
          </div>
        </section> -->
        
        
        <!-- board -->
        
        
        
        <h1 class="my-4" style="text-align: center;">
          <span style="color:green;">Our Elected Members</span>
        </h1>
        
        
        <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://tuf.edu.pk/publication/wp-content/uploads/2016/03/IMG_8093-1200x822.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                    <h2 class="display-4">Engr Inam Ahmad Osmani</h2>
                    <p>Member Board of Studies of the Institute of Chemical Engineering & 
                        Technology, University of the Punjab. 
                        Member Curriculum Development Board for Semester System 
                        Member Pakistan Engineering Council 
                        Member Pakistan Institute of Chemical Engineers 
                        Member Syllabi and Revision Committee at Institute of Chemical Engineering </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://nation.com.pk/print_images/large/2014-07-26/1406327092-1396.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <h2 class="display-4">Engr Jawed Salim Qureshi</h2>
                    <p>Chairman: Pakistan Engineering Council, Four Brothers Group Pakistan, Member BOD LESCO 
                        Trustee: Tayeb Erdogan Hospital, Muzaffargarh Message Foundation, Lahore 
                        Tel: +92 42 111 005 555 </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://tuf.edu.pk/publication/wp-content/uploads/2016/03/IMG_6852-1024x683.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                    <h2 class="display-4">Engr Zahid Arif</h2>
                    <p>Mr Zahid Arif - Vice Chairman PEC/ Convener Engineers Job Fair 2015 Presenting Best Performance Certificate to Engr. Sajjad Khan (Electra Consultants). Image may contain: 5 people, people standing and wedding. LikeComment. Chronological. Zainul Abdin Khuhro, Ali Nawaz, HaSiB UllaH and 11 others </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          
        
        
        
        
        <!--  -->
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- Team -->
        
        
            <!-- Team -->
            <section class="bg-light" id="team">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading text-uppercase">Our  Team  Members</h2>
                      <h5>____________________________________</h5>
                      <div>
                      
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="team-member">
                        <img class="mx-auto rounded-circle" src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-1/p160x160/23843359_987120711450772_2968872635568904194_n.jpg?oh=9b399a96e848a5629f34f23d6eb4d204&oe=5ABB5F82" alt="">
                        <p class="text-muted">Syed Wajahat Hussain</p>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="team-member">
                        <img class="mx-auto rounded-circle" src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-1/p160x160/26167358_1940386649623909_7057377271455704444_n.jpg?oh=beaf2a1bf3c022939c5f2f4ed4649743&oe=5AFD66D2" alt="">
                        <p class="text-muted">Syed Usama Ateeq</p>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member">
                          <img class="mx-auto rounded-circle" src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-1/p160x160/23472402_1999606850054396_7044205517077452492_n.jpg?oh=3b9679a51efdb6e26d2b477211c05b84&oe=5AC420E6" alt="">
                          <p class="text-muted">Muhhammad Shoaib</p>
                        </div>
                      </div>
                    <div class="col-sm-3">
                      <div class="team-member">
                        <img class="mx-auto rounded-circle" src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/21768468_10155932404869274_7766864918728262906_n.jpg?oh=c8b3dd6fbaedd9a21f5072e837c771de&oe=5AB677DA" alt="">
                        <p class="text-muted">Zohaib Javaid</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                      <p class="large text-muted">This Web project has been developed by the above team of students</p>
                    </div>
                  </div>
                </div>
              
              
              </section>
          
        
        <!--  Team -->
        
        
        